---

---

<div class="Info">
	<div class="titleSection">
		<h1>Burroughs/Gysin Dreamachine</h1>
	</div>
	
	<div class="bodySection">
		<p>
			In its original form, a Dreamachine is a work of light art made from a cylinder with regularly spaced shapes cut out of its sides. The cylinder is then placed on a record turntable and rotated, depending on the scale, at either 78 or 45 revolutions per minute. A light bulb is suspended in the center of the cylinder with the rotation speed making light emanate from the holes at a consistently pulsating frequency range of 8–13 flickers per second. It is meant to be looked at through closed eyelids, upon which moving yantra-like mandala visual patterns emerge, and an alpha wave mental state is induced. 
			<br/><br/>
			The frequency of the pulsations corresponds to the electrical oscillations normally present in the human brain while relaxing. In 1996, the Los Angeles Times deemed David Woodard's iteration of the Dreamachine "the most interesting object" in Burroughs' major visual retrospective Ports of Entry at LACMA. 
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
